body{
    font-family: 'Roboto', sans-serif;
    


}

h1{
    text-align: center;
    font-size: 800px;
    color: cornflowerblue;
    margin-bottom: 0%;


}
h3{
    text-align: center;
    font-size: 300px;
    color: cyan;
}
.size{
    width: 40%;
    float:left;
    margin: 5%;
    padding: 2%;
    
}